.news-title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 110px;
    margin-left: 0;
    margin-right: 0;
    /* margin-bottom: -20px; */
}

.news-title h2{
    font-size: 50px;
    font-family: "VALORANT", sans-serif;
    border-bottom: 00.5px solid grey;
}

.img-article img{
    margin-top: 20px;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.articles-section{
animation: 0.7s ease-in-out 0s 1 slideInFromLeft;
}

@keyframes navSlideInFromTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

.header{
    animation: 0.7s ease-in-out 0s 1 navSlideInFromTop;
}

.article-one, .article-two, .article-three{
    border-bottom: 00.5px solid grey;
}

.last-go-back{ 
    padding-bottom: 20px;
}