*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  position: relative;
  top: 170px;
  width: 80%;
  margin-left: 35px;
  margin-right: 35px;
 /*  border-top: 3px solid #ff4655;
  border-right: 3px solid #ff4655;
  border-radius: 8%; */
}


label {
  color: white;
  font-family: "Montserrat", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* input[type="submit"] {
  width: 70%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 15%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

p {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

fieldset {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ff4655;
}

button {
  position: relative;
  bottom: 30px;
}