
/* STRUCTURE*/

form {
  position: relative;
  top: 170px;
  width: 80%;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* FORM CONTAINERS */

div.form-container {
  margin-bottom: 350px;
  border-right: 3px solid var(--red);
}

div.internal-container-a {
  border-bottom: 2px solid #ff4655;
  border-left: 3px solid #ff4655;
  border-radius: 10px;
  padding: 2px 0px 15px 20px;
  margin-bottom: 20px;
}

div.external-container-a {
  border-top: 2px #ff4655;
  border-right: 3px #ff4655;
  border-radius: 10px;
  padding: 12px 10px 0px 10px;
  margin-bottom: 20px;
}



/* FORM INTRO */

.form-intro {
  position: relative;
  top: 150px;
}

.form-intro h2,
.form-intro p {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
}

h2 span {
  color: #ff4655;
}

/* FORM ELEMENTS */

label {
  color: white;
}

input,
option,
select {
  background-color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


p {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}


label[for="tournament"] {
  display: block;
  margin-top: 10px;
}



textarea {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  margin-top: 10px;
}

.color-input {
  margin-left: 30%;
}

label#other-games {
  color: var(--red);
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* LINKS */

a:hover {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.riot-link {
  margin-top: 50px;
}

#riot-link {
  color: var(--red);
  
}

/* BUTTONS */

button.form-button {
  float: left;
  margin-left: 35px;
  margin-top: 20px;
}

button[type="submit"] {
  width: 30%;
  background-color: #ff4655;
  color: white;
  padding: 12px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="reset"] {
  width: 30%;
  background-color: white;
  color: black;
  padding: 12px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* BUTTONS INTERACTIONS */

button[type="submit"]:hover {
  box-shadow: 2px 2px 3px 3px red;
  font-size: medium;
}

button[type="reset"]:hover {
  box-shadow: 2px 2px 3px 3px white;
  font-size: medium;
}

/* MEDIA QUERY */

@media screen and (min-width: 799.99px) {
  form {
    width: 50%;
    margin-left: 25%;
  }

}

 
