h1{
    font-family: 'VALORANT', sans-serif;
    color: white;
    font-size: 28px;
    margin: 0 auto;
    padding-bottom: 5px;

}

section, main{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page-header{
    padding: 150px 0 40px 0;
    justify-content: center;
}
.valorant-red{
    font-size: 38px;
    color: #ff4655;
}

main{
    background-image: url(../Contents/img/banner.png);
    background-repeat: no-repeat;
    background-size: 100rem 130px;
    background-position: center top;
    font-family: 'VALORANT', sans-serif;
    padding: 2% 5% 0 5%
}
main h2{
    
    font-size: 35px;
    color: white;
    margin-top: 35px;
    padding:20px 20px 5px 60px;
    border-radius: 10px;
    border-top: 2px solid white;
}
.team-list-item img{
    width: 180px;
    display:none;
}
.team-info p:first-child{
    color:  #ff4655;
    font-size: 28px;
    word-break:keep-all;
}
ul.teams > li{
    background-color: black;
    padding: 30px 0 35px 0;
    border-radius: 25px;
    border-top: 3px solid #ff4655;
    border-right: 3px solid #ff4655;
    text-align: center;
    margin: 40px auto;
    width: 330px;
}
ul.teams li p{
    padding: 5px;
}
.team-info img
{
    padding: 10px 0;
    width: 30px;
    display: inherit;
    margin-left: 5px;
}
.team-info{
    font-size: 25px;
    padding:10px;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 20px;
    border-bottom: #ff4655 solid 1px;
    border-radius: 20px;
}
.team-info p{
    padding: 10px 0;
}
.team-info *{ 
    margin: 5px 0;
    color: white;
}
main #retired{
    margin-top: 80px;
    font-size: 33px;
}
#selected-player-container.player-active{
    display:flex;
}
#selected-player-container.player-inactive{
    display:none;
}
#empty-div{
    opacity: 40%;
    z-index: 90;
    position:fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100vw;
    height: 100vh;
    top: 0;
}
#selected-player{
    opacity: 100%;
    z-index: 100;
    position:fixed;
    background-color: #ff4655;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 70vw;
    height: 70vh;
    top: 18%;
}
#selected-player .close-profile
{
    display: block;
    width:25px;
    margin: 20px;
    top: 0;
}

.gamerTag{
    font-size: 18px;
    color: white;
}
  p.player-name{
    padding: 0 0 10px 0 !important;
    }
    p.player-name.hidden
   { 
    animation: shrink 300ms ease-in-out forwards !important;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: -1;
    }
    p.player-name:not(.hidden){
     display: block !important;
     opacity:1 !important;
     animation: growDown 300ms ease-in-out forwards;
     transform-origin: top center;
    }
 @keyframes growDown {
     0% {
         transform: scaleY(0);
     }
     80% {
         transform: scaleY(1.1);
     }
     100% {
         transform: scaleY(1);
     }
 }
 @keyframes shrink {
    0% {
        transform: scaleY(1);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}
