:root {
    --main-red-color: #ff4655;
  }

/*tournament section*/
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.7cm;
    font-size: larger;
}

p{
    line-height: 30px;
    color: rgb(179, 212, 220);
    font-size: 15px;
}

h6{
    color: rgb(143, 255, 7);
}

.past-date{
    color: rgb(255, 0, 255);
}

.tournaments-header {
    text-align: center;
    padding: 2%;
    font-family: 'VALORANT', sans-serif;
    font-size: 40px;
    color: var(--main-red-color);
    margin-top: 20px;
}


.tournaments-sub-header {
    text-align: center;
    padding-bottom: 2%;
    margin-top: 40px;
    font-size: 30px;
    font-family: 'VALORANT', sans-serif;
}

.trophy-title{
    font-family: 'VALORANT', sans-serif;
    color:  var(--main-red-color) ;
}

.containercards{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 50px;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 3%;
    border-bottom: 0.5px solid var(--main-red-color) ;
    margin-bottom: 3%;
    
}

.gamingtrophy{
    height: 4cm;
    float: right;
}

.trophy-card{
    background-color: #111;
    /* border-radius: 5px; */
    border: rgb(75, 75, 75) solid 1px;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.trophy-card:hover{
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 7px 5px rgba(199, 244, 255, 0.629) ;
    padding: 25px;
    
}

.footer-container h2{
    margin-bottom: 0;
}

.footer-container p{
    color: #737373;
}

.trophy-card:hover .trophy-title {
    text-decoration:underline;
}





.img-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media screen and (min-width: 750px){
    .containercards{
      grid-template-columns: 1fr 1fr;
  }  
  }

@media screen and (min-width: 1200px){
  .containercards{
    grid-template-columns: 1fr 1fr 1fr;
}  
}

