/* ! BASE STYLE */

body {
    font-family: 'Playfair Display', serif;
    background: #0f1519;
}

/* ! classi da aggiungere al codice html */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: white;
    padding-bottom: 30px;
}

.big-text {
    font-size: 70px;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 25px;
}

.small-text {
    font-size: 14px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
}

.button {
    padding: 18px 28px;
    background: #316bff;
    color: white;
    display: inline-block;
    /* ! per applicare il padding a tutto il link del bottone */
    border-radius: 8px;
}








/* ! MOBILE FIRST */

/* @media screen and (min-width: 268px) and (max-width:1024px) { */

    /* ! HEADER */

    .logo__logo-right {
        display: none;
    }

    .header {
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 30px;
        background: #111111;
        z-index: 3;
    }

    .logo-left {
        z-index: 1;
    }

    .logo-left img {
        width: 120px;
        height: 30px;
    }

    .menu {
        position: absolute;
        top: 0;
        right: -100%;
        background: #111111;
        height: 100vh;
        width: 100%;
        padding-top: 80px;
        z-index: 0;
    }

    .menu li {
        display: block;
    }

    .menu li a {
        display: block;
        padding: 15px;
        color: white;
        text-align: center;
    }

    .menu--open {
        right: 0;
    }



    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
        z-index: 11;
    }

    .hamburger span {
        background: white;
        height: 3px;
        width: 100%;
        display: block;
        margin-bottom: 6px;
    }


    /* ! HERO */

    .hero {
        position: relative;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .hero:after {
        content: " ";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.4;
    }

    .hero__content {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        position: relative;
        padding-top: 4rem;
    }

    .hero__content__img {
        position: relative;
    }

    #video-back {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
    }


/* } */









/* ! DESKTOP */

@media screen and (min-width: 1024px){

    /* ! HEADER */

  

}




































*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}